# Ignore Python virtual environment
venv/
.python-version

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore LaTeX build files (used for assignment)
latex/

# ignore macosx files (if any)
.DS_Store